@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nvhrgq');
  src:  url('../fonts/icomoon.eot?nvhrgq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nvhrgq') format('truetype'),
    url('../fonts/icomoon.woff?nvhrgq') format('woff'),
    url('../fonts/icomoon.svg?nvhrgq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telefono:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-email:before {
  content: "\ea85";
}




body{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

table{
  width: 100%;
  margin: 50px 0;
}

th{
  background: #273b47;
  color: white;
  padding: 10px 20px;
  text-align: left;
}

td{
  padding: 20px;
}

table, td, th{
  border: 1px solid #273b47;
  border-collapse: collapse;
}

.contenedor{
  max-width: 800px;
  margin: auto;
}

.background{
  background-color: #466173;
  background-image: url('../imagenes/background.png');
  background-size: cover;
}

input, textarea{
  outline: 0;
}

input:focus, textarea:focus{
  background: lightgray;
}

.titulo{
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  margin-top: 70px;
}

.titulo span{
  text-decoration: underline;
}

.logotipo{
  display: inline-block;
  margin-left: 0;
}

.header{
  position: relative;
}

.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu li{
  display: inline-block;
  margin-left: 30px;
}

.menu a{
  color: white;
  text-decoration: none;
}

.portada{
  color: white;
  padding: 20px;
  height: 500px;
}

.portada button{
  margin-bottom: 70px;
}

.boton{
  border-radius: 12px;
  border: none;
  background: #fd324e;
  color: white;
  text-decoration: none;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(to left, #fe344e, #ff7250);
}

.guitarras{
  color: #1f313c;
  margin-bottom: 60px;
}

.guitarras h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.tittle-a{
  font-size: 24px;
  margin-top: 0;
}

.tittle-b{
  font-size: 50px;
  margin-bottom: 20px;
}

.guitarra{
  margin: 10px 10px 40px 10px;
  padding: 10px;
  border: 1px solid #1f313c;
  border-radius: 8px;
}

.guitarra ol{
  padding: 0;
}

.guitarra.b{
  height: 190px;
}


.derecha{
  float: right;
  position: relative;
  top: -127px;
}

.izquierda{
  float: left;
  position: relative;
}


.contenedor-guitarra-a{
  padding-left: 20px;
}

.contenedor-guitarra-b{
  margin-left: 370px;
  position: relative;
  bottom: 90px;
}

.footer{
  background: #273b47;
  padding: 50px 10px;
}

.contacto img{
  display: block;
}

.contacto strong{
  display: block;
}

.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

/* Vamos a usar flexbox en CSS y primero ponemos la propiedad (display: flexbox) al padre */

.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.contacto{
  display: flex;
  width: 300px;
  /* Con flex-wrap: wrap los elemtos se distribuyen sobre el contenedor sin cambiar el tamaño */
  flex-wrap: wrap;
  align-items: center;
}

.formulario{
  display: flex;
  width: 400px;
  color: white;
  padding: 50px 10px;
}

.col-1, .col-2{
  display: flex;
  flex-direction: column;
}

.col-1{
  margin-right: 15px;
}

.col-2{
  align-items: flex-start;
}

.col-2 .boton{
  margin-top: 15px;
}

.intereses label{
  font-size: 12px;
}

.formulario label, .sexo, .intereses{
  margin-bottom: 10px;
}

.sexo{
  margin-top: 10px;
}


/* Para añadir el circulo en los elementos li del menú */
.menu li:before{
  content: '∘';
  font-size: 30px;
  color: white;
}

.burger-button{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #395667;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  /* la posicion absoluta es con referencia al padre */
  position: absolute;
  top: 20px;
  left: 20px;
  /* Tenemos que hacer que se superponga al menu, al que le dimos un z-index de 2 */
  z-index: 3;
}



/* media querie para tablets */
@media screen and (max-width: 800px){
  /* portada */
  .titulo{
    font-size: 45px;
    margin-top: 30px;
  }
  .tittle-a{
    font-style: 18px;
  }
  .portada{
    height: auto;
  }
  .portada .boton{
    margin-bottom: 30px;
    display: inline-block;
  }
  /* portada */

  /* Tabla de precios */
  .tabla{
    margin: 50px 20px;
  }
  .tabla .contenedor{
    overflow: auto;
    border: 1px solid #273b47;
  }
  /* guitarras */
  .guitarras{
    text-align: center;
  }
  .izquierda, .derecha{
    float: none;
    position: static;
  }
  .tittle-b{
    margin: 0;
  }
  .guitarra li{
    list-style: none;
  }
  .guitarra.b{
    height: auto;
  }
  .contenedor-guitarra-b{
    margin: 0;
    position: static;
  }
  /* guitarras */
}

/* media querie para tamaño de pantalla de ipad */
@media screen and (max-width: 767px){
  /* footer */
  .footer .contenedor{
    display: block;
  }
  .contacto{
    margin: 0 auto;
  }
  .formulario{
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .intereses label{
    display: block;
    font-size: 16px;
  }
  /* selector de atributo */
  input[type="text"], input[type="email"]{
    font-size: 16px;
    padding: 5px;
  }
  .col-1{
    margin: 0;
  }
  textarea{
    width: 100%;
    font-size: 16px;
  }
  input[type="checkbox"], input[type="radio"]{
    zoom: 1.5;
  }
}

@media screen and (max-width: 650px){
  .logotipo{
    display: block;
    margin: 0;
    text-align: center;
  }
  .menu{
    position: static;
    display: block;
    text-align: center;
  }
  .menu li:first-child{
    margin: 0;
  }
  .menu ul{
    padding: 0;
  }
  .contenedor-guitarra-a{
    padding: 0;
  }
}


/* media querie para móviles */
@media screen and (max-width: 500px){
  .portada .contenedor{
    /* Le reseteamos la posicion para que el menu ocupe toda la pantalla */
    position: static;
  }
  .header .contenedor, .header{
    position: static;
  }
  .menu{
    background: rgba(255, 60, 88, .8);
    /* Ojo, que position absolute es haciendo referencia al objeto padre, en este caso portada */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* con z-index superponemos .menu sobre el resto de elementos */
    z-index: 2;
    /* con display flex se afectan a los hijos de .menu, en este caso el elemento ul  */
    display: flex;
    align-items: center;
    /* Desplazamos el menu para la izquierda fuera de la pantalla para que no se vea hasta que lo llamemos con
    el burger-button */
    width: 100%;
    left: -100%;
    /* con transition le decimos el tiempo que tardará en moverse el menú cuando pulsemos el burger-button */
    transition: .3s;
  }

  /* mediante js asignamos la clase active para que se muestre el menu que por defecto está oculto a la izquierda */
  .menu.active{
    left: 0;
  }

  .menu ul{
    /* para que el elemto ul ocupe el 100% */
    flex: 1;
  }


  .portada{
    text-align: center;
  }
  .titulo{
    font-size: 30px;
  }
  .tittle-a{
    font-size: 16px;
  }
  .menu li{
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
  /* quitamos los assets de los li (los circulos delante de cada opción del menú) */
  .menu li:before{
    display: none;
  }
  .menu li:first-child{
    border-top: 1px solid white;
  }
  .guitarra img{
    width: 220px;
  }
  .tittle-b{
    font-size: 35px;
  }

}

.video-responsive-contenedor{
  position: relative;
  /* el 56.25 es la relación de aspecto 1920*1080 (1080 * 100) / 1920 */
  padding-top: 56.25%
}

.video-responsive-src{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* media querie para dispositivos con una densidad de pantalla de 2x
el prefijo -webkit es para que funcione en safari y en chrome */
@media screen and (-webkit-min-device-pixel-ratio: 2){

}
